h1 {
	text-align: center;
}

body{
	background: url() no-repeat center center fixed;
	font-family: 'Jazz LET', fantasy;
}

.grid-container {
	display: grid;
	grid-template-columns: 20% 80%;
}

.grid-item {
	text-align: center;
}

.border {

}


