#stops-sidebar, #stops-sidebar > div {
	display: flex;
	flex-direction: column;

	height: 100%;
}

#stops-sidebar > :not([data-shown]) {
	display: none;
}

#stops-header {
	display: flex;
	align-items: center;
	gap: 5px;

	padding: 5px 25px;
	border-bottom: 2px solid var(--primary-border);
}

#stops-search {
	flex-grow: 1;
}

/* Webkit browsers add their own ugly search cancel button. Hide it. */
#stops-search::-webkit-search-cancel-button {
	display: none;
}

#transport-lists {
	display: flex;
	flex-direction: column;

	overflow-y: auto;
}

#stops-list,
#transport-lists > div {
	display: flex;
	flex-direction: column;
	gap: 4px;

	padding: 4px 7px;

	overflow-y: auto;
}

#stops-list > button,
#transport-lists > div > button {
	text-align: left;
}

#transport-lists > div:not([data-shown]) {
	display: none;
}

#transport-header {
	padding: 5px;
}

#transport-chosen {
	text-align: center;
}